<!doctype html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]> <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]> <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if IE 9]> <html class="no-js ie9" lang="en"> <![endif]-->
<!--[if gt IE 9]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="Galeria Kaufhof GmbH">
    <title>{% block title %}Goodbye Metro Sonderaktion{% endblock %}</title>

    {% block stylesheets %}
        <link rel="stylesheet" href="{{ rooturi }}{{ asset('bundles/app/vendor/bootstrap/dist/css/bootstrap.css') }}">
        <link rel="stylesheet" href="{{ rooturi }}{{ asset('bundles/app/default.css') }}">
    {% endblock %}

    {% block javascripts_head %}
        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
        <script src="//oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="//oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
    {% endblock %}
</head>
<body>
<header class="clearfix">
    <nav class="navbar navbar-fixed-top">
        <div class="wrapper">
            <div class="container">
                <div class="navbar-header">
                    <img src="{{ rooturi }}{{ asset('bundles/app/img/Galeria_Kaufhof-small.png') }}">
                </div>
            </div>
        </div>
    </nav>
</header>

{% if (app.session.flashbag.has('success')) or (app.session.flashbag.has('info')) or (app.session.flashbag.has('error')) %}
    <aside class="messages">
        <section class="container">
            {% for flashMessage in app.session.flashbag.get('success') %}
                <div class="alert alert-success" role="alert">
                    {{ flashMessage }}
                </div>
            {% endfor %}
            {% for flashMessage in app.session.flashbag.get('info') %}
                <div class="alert alert-info" role="alert">
                    {{ flashMessage }}
                </div>
            {% endfor %}
            {% for flashMessage in app.session.flashbag.get('error') %}
                <div class="alert alert-danger" role="alert">
                    {{ flashMessage }}
                </div>
            {% endfor %}

            {% block messages %}{% endblock %}
        </section>
    </aside>
{% endif %}

<main>
{% block body %}{% endblock %}
</main>

<footer>
    <section class="container">
        &copy; {{ "now"|date("Y") }} Galeria Kaufhof GmbH
    </section>
</footer>

{% block javascripts_foot %}
    <script src="{{ rooturi }}{{ asset('bundles/app/vendor/jquery/dist/jquery.js') }}"></script>
    <script src="{{ rooturi }}{{ asset('bundles/app/vendor/bootstrap/dist/js/bootstrap.js') }}"></script>

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="{{ rooturi }}{{ asset('bundles/app/ie10-viewport-bug-workaround.js') }}"></script>
{% endblock %}
{% block javascripts_additional %}{% endblock %}
</body>
</html>
